@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Lexend", sans-serif;
}

::-webkit-scrollbar-track {
    background-color: #383838;
  }

::-webkit-scrollbar-thumb {
    color: #FF7837;
    border-radius: 5px;
    cursor: pointer;
}