@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Lexend", sans-serif;
}

::-webkit-scrollbar-track {
    background-color: #383838;
  }

::-webkit-scrollbar-thumb {
    color: #FF7837;
    border-radius: 5px;
    cursor: pointer;
}

.bounce {
    animation: bounce 2s ease infinite;
  }
  @keyframes bounce2 {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }